extends ../layout

block content
  br
  br
  br
  table.table.table-striped.table-hover
    thead
      tr: th Region 
          th Population
          th Average Rate
    tbody
      each row in crimes
        tr
          td
            = row.region
          td 
            = row.prebivalstvo
          td
            = row.splosno.povprecje
          td
            = row.letno.povprecje[0].year
