doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= "Region control"
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/bootstrap/css/cosmo.bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/colorbrewer.css')
        script(src='/javascripts/d3.v3.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    body
        .container
            block content