

.hidden {
    display : none;
}

div.tooltip {
    color: black;
    background-color: white;
    padding: .5em;
    min-width: 50px;
    width: auto;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.95;
    position: absolute;
    z-index: 5;
    font: 0.8em "georgia", Helvetica, Arial, sans-serif;
    text-align: center;
}

.embed {
    float:left;
    width: 100%;
    height: 2em;
    color:#666666;
    font-size: 1.1em;
    margin-top:1em;
}

.title {
    float:left;
    width: 100%;
    color:#000;
    font-size: 2.1em;
}

.info {
    margin-left : 20px;
}

.infotext {
    float:left;
    width: 100%;
    font-size: 1.4em;
}

.colorselect {
    float:left;
    width: 100%;
    font-size: 1.4em;
    color:black;
    margin-top:1em;
}

.links {
    float:left;
    width: 100%;
    font-size: 1.4em;
    color:black;
    margin-top:2em;	
}

.navlink {
	float:left;
	margin-left: 20px;
	font-size: 0.6em;
}

.embedmap {
    border:1px solid #f1f1f1;
}

.embedfooter {
    float:left;
    width:100%;
    background-color:#f1f1f1;
}

.minimap {
    float:left;
    width:200px;
    height:150px;
    margin-top:20px;
}

.minidetails {
    float:left;
    width:100%;
}

#map {
    overflow:hidden;
}

#chart {
    overflow:hidden;
    margin-top:30px;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/* index */
#banner {
    float:left;
    width:100%;
    height:300px;
    background-color: #245269;

}